.vscode
README.md
node_modules
package-lock.json
Nazirs Live Unity Project - 2023-1.webp

# Client
client/*
!client/public/
!client/dist/

# Server
/server/.env.me
/server/.env.previous
/server/node_modules
/server/package-lock.json