.vscode
README.md
node_modules
package-lock.json

# Client
/client/dist
/client/node_modules
/client/package-lock.json

# Server
/server/.env
/server/.env.me
/server/node_modules
/server/package-lock.json