.git
.vscode
README.md
.gitignore
Dockerfile
node_modules
.dockerignore
package-lock.json
docker-compose.yaml
Nazirs Live Unity Project - 2023-1.webp

# Client
client/*
!client/public/
!client/dist/

# Server
/server/RoomChat
/server/PublicChat
/server/.env.me
/server/.env.vault
/server/.env.previous
/server/node_modules
/server/package-lock.json